@page
@model IndexModel
@{
    int i = 1;
}
<h1>Wooot!</h1>
<p>Estudiantes</p>
<div class="row">
    <a href="/estudiantes/Crear/" role="button" class="btn btn-primary">Agregar</a>
</div>
<ol>
   
        <table class="table table-striped table-hover">
            <thead class="thead-dark">
                <tr class="table table-dark">
                    <th>#</th>
                    <th>No. Control</th>
                    <th>Nombre</th>
                    <th>Carrera</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var estudiante in Model.EstudiantesEnLista)
                {
                    <tr scope="row">
                        <td>@i</td>
                        <td>@estudiante.NumeroControl</td>
                        <td>@estudiante.Nombre</td>
                        <td>@estudiante.Carrera</td>
                        <td><a asp-page="Detalles/" asp-route-nc="@estudiante.NumeroControl" class="btn btn-info">Detalles</a>
                            <a asp-page="Editar/" asp-route-nc="@estudiante.NumeroControl" class="btn btn-success">Editar</a></td>

                    </tr>
                    i++;

                }
            </tbody>    
        </table>
</ol>
